<?xml version="1.0" encoding="UTF-8"?>
<templates>
    <!--<t t-extend='AppSwitcher.Content'>-->
        <!--<t t-jquery=".o_application_switcher_footer" t-operation="replace">-->
            <!--<div class="o_application_switcher_footer">-->
                <!--<img src="/project_shop/static/src/img/logo_inverse_white_206px.png"/>-->
            <!--</div>-->
        <!--</t>-->
    <!--</t>-->
    <t t-extend='UserMenu'>
        <t t-jquery=".dropdown-menu" t-operation="replace">
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-menu="settings">Preferences</a></li>
                <li><a href="#" data-menu="logout">Log out</a></li>
            </ul>
        </t>
    </t>
    <t t-extend='UserMenu'>
        <t t-jquery=".dropdown-menu" t-operation="replace">
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-menu="settings">Preferences</a></li>
                <li><a href="#" data-menu="logout">Log out</a></li>
            </ul>
        </t>
    </t>
</templates>